@import ".utils/variables";
@import ".utils/mixins";

*{
    box-sizing: border-box;
}

header{
   @include header-format;
}

main{
    background-color: $color-secondary;
    color: $color-primary;
    font-family: Roboto;
    font-size: 50px;
}

  
@media (min-width: 768px) {
   
}
@media (min-width: 991px) {
   
}